<launch>
  <!-- NED origin -->
  <arg name="place" default="uib_anselm_turmeda.yaml"/>
  <arg name="placesDir" default="$(find turbot)/config/places"/>
  <rosparam command="load" file="$(arg placesDir)/$(arg place)"/>

  <!-- TOPICS -->
  <arg name="odom"    default="/ekf_odom/odometry"/>
  <arg name="map"     default="/ekf_map/odometry"/>
  

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find usbl_position)/config/usbl_plot.rviz"/> 

  <!-- PLOT TRAJECTORIES -->
  <node pkg="usbl_position" name="plot_path_gps_odom" type="plot_path" output="screen">
  	<remap from="topic_in" to="$(arg odom)"/>
  	<remap from="topic_out" to="/plot/odom"/>
  </node>

   <node pkg="usbl_position" name="plot_path_gps_map" type="plot_path" output="screen">
  	<remap from="topic_in" to="$(arg map)"/>
  	<remap from="topic_out" to="/plot/map"/>
  </node>

  <node pkg="usbl_position" name="plot_path_gt" type="plot_path" output="screen">
    <remap from="topic_in" to="/sparus/pat_to_ros_odom"/>
    <remap from="topic_out" to="/plot/groundtruth"/>
  </node>

  <!-- PLOT MARKERS -->
  <!-- gps auv -->
  <node pkg="usbl_position" name="plot_gps" type="plot_marker" output="screen">
    <remap from="topic_in" to="/sensors/gps"/>
    <remap from="topic_out" to="/plot/gps"/>
    <param name="b" value="1.0"/>
    <param name="size" value="0.1"/>
    <param name="duration" value="10"/>
    <param name="frame_id" value="/gps_origin"/>
  </node>

  <!-- modem raw -->
  <node pkg="usbl_position" name="plot_raw" type="plot_marker" output="screen">
  	<remap from="topic_in" to="/sensors/modem_raw"/>
  	<remap from="topic_out" to="/plot/modem_raw"/>
  	<param name="g" value="1.0"/>
    <param name="size" value="0.1"/>
    <param name="duration" value="10"/>
  	<param name="frame_id" value="/modem_origin"/>
  </node>

  <!-- modem delayed -->
  <node pkg="usbl_position" name="plot_delayed" type="plot_marker" output="screen">
  	<remap from="topic_in" to="/sensors/modem_delayed_acoustic"/>
  	<remap from="topic_out" to="/plot/modem_delayed_acoustic"/>
    <param name="g" value="1.0"/>
  	<param name="b" value="1.0"/>
  	<param name="a" value="1.0"/>
  	<param name="size" value="0.1"/>
    <param name="duration" value="10"/>
    <param name="frame_id" value="/modem_origin"/>
  </node>

  <!-- buoy -->
  <node pkg="usbl_position" name="geo2ned_buoy_raw" type="geo2ned" output="screen">
    <remap from="/geo" to="/sensors/gps_buoy_emlid_raw"/>
    <remap from="/geo2ned_buoy_raw/ned" to="/sensors/gps_buoy_emlid_raw_ned"/>
  </node>

  <node pkg="usbl_position" name="plot_buoy_raw" type="plot_marker" output="screen">
    <remap from="topic_in" to="/sensors/gps_buoy_emlid_raw_ned"/>
    <remap from="topic_out" to="/plot/buoy_raw_ned"/>
    <param name="r" value="1.0"/>
    <param name="size" value="0.1"/>
    <param name="duration" value="10"/>
    <param name="frame_id" value="/map"/>
  </node>

</launch>
