 <launch>
	
	<!-- BAGFILES Mosaic -->
	<arg name="path" default="/data/HD3/bagfiles/turbot/2016_12_13_emisari_ciutat_jardi/" />
	<arg name="bags" default="
								$(arg path)20161213_112857_0.bag 
								$(arg path)20161213_112857_1.bag 
								$(arg path)20161213_112857_2.bag 
								$(arg path)20161213_112857_3.bag 
								$(arg path)20161213_112857_4.bag 
								$(arg path)20161213_112857_5.bag 
								$(arg path)20161213_112857_6.bag 
								$(arg path)20161213_112857_7.bag 
								$(arg path)20161213_112857_8.bag 
								$(arg path)20161213_112857_9.bag 
								$(arg path)20161213_112857_10.bag 
								$(arg path)20161213_112857_11.bag 
								$(arg path)20161213_112857_12.bag 
								$(arg path)20161213_112857_13.bag 
								$(arg path)20161213_112857_14.bag 
								$(arg path)20161213_112857_15.bag 
								$(arg path)20161213_112857_16.bag 
								$(arg path)20161213_112857_17.bag 
								$(arg path)20161213_112857_18.bag 
								$(arg path)20161213_112857_19.bag 
								$(arg path)20161213_112857_20.bag 
								$(arg path)20161213_112857_21.bag 
								$(arg path)20161213_112857_22.bag 
								$(arg path)20161213_112857_23.bag 
								$(arg path)20161213_112857_24.bag 
								$(arg path)20161213_112857_25.bag" />

	<arg name="topics" default="
								/control/trajectory_path 
								/control/waypoint_marker 
								/sensors/imu_data 
								/sensors/imu_raw 
								/sensors/depth_raw 
								/sensors/depth_map 
								/sensors/depth_odom 
								/sensors/gps_raw 
								/sensors/dvl_raw 
								/sensors/vo_raw 
								/sensors/modem_delayed_acoustic 
								/ekf_odom/odometry 
								/ekf_map/odometry 
								/navigation/nav_sts 
								/stereo_down/left/image_raw 
								/stereo_down/right/image_raw 
								/stereo_down/left/camera_info 
								/stereo_down/right/camera_info 
								/stereo_down_sync/info 
								/sensors/buoy_raw"/>


 	<!-- SENSORS -->
  	<arg name="enableImu"   default="true"/>
	<arg name="enableDepth" default="true"/>
	<arg name="enableDvl"   default="true"/>
	<arg name="enableGps"   default="true"/>
	<arg name="enableModem" default="true"/>
	<arg name="enableVO"    default="true"/>
  	<arg name="enableSafety" default="false"/>




	<param name="use_sim_time" value="true"/>
	<node name="rosbag" pkg="rosbag" type="play" args=" --clock $(arg bags) --topics $(arg topics)">
		<remap from="/ekf_map/odometry" to="/ekf_map/odometry_old"/>
		<remap from="/ekf_odom/odometry" to="/ekf_odom/odometry_old"/>
	</node>
	<rosparam command="load" file="$(arg path)20161213_112857_params.yaml"/>
	
 	<!-- NED origin -->
  	<arg name="place" default="emisari_ciutat_jardi_fondeig.yaml"/>
  	<arg name="placesDir" default="$(find turbot)/config/places"/>
  	<rosparam command="load" file="$(arg placesDir)/$(arg place)"/>

	<!-- TFs -->
	<rosparam command="load" file="$(find turbot)/config/frames.yaml"/>
	<include file="$(find turbot)/launch/modules/transforms.launch">
	  <arg name="suffix" value="robot"/>
	</include>
	<node  name="pose_tf_broadcaster" pkg="sensors" type="pose_tf_broadcaster" respawn="true" output="screen" >
	  <remap from="/imu" to="/sensors/imu"/>
	</node>


	<!-- Sensor aggregator -->
	<rosparam command="load" file="$(find turbot)/config/sensor_aggregator.yaml"/>
	<node  name="sensors" pkg="sensors" type="sensor_aggregator" output="screen" respawn="true">
	  <param name="enable_safety" value="$(arg enableSafety)" />
	  <param name="depth/enable"  value="$(arg enableDepth)" />
	  <param name="imu/enable"    value="$(arg enableImu)" />
	  <param name="dvl/enable"    value="$(arg enableDvl)" />
	  <param name="gps/enable"    value="$(arg enableGps)" />
	  <param name="modem/enable"  value="$(arg enableModem)" />
	  <param name="vo/enable"     value="$(arg enableVO)" />
	</node>

	<!-- Nav status -->
	<node pkg="sensors" type="nav_status" name="nav_status" respawn="true" output="screen">
	  <remap from="odometry" 		to="/ekf_usbl_map/odometry"/>
	  <remap from="altitude" 		to="/altitude_estimator/altitude"/>
	  <remap from="imu" 			to="/sensors/imu"/>
	  <remap from="nav_status/nav_sts" to="/navigation/nav_sts"/>
	  <param name="places_dir" 		value="$(arg placesDir)" />
	</node>



	<!-- USBL PROJECTION -->
	<node pkg="usbl_position" name="usbl_projection" type="usbl_projection" output="screen">
		<param name="sensors/usbl/sync_time_th" 		value="0.1" />
		<param name="sensors/usbl/sync_prop_th" 		value="0.5" />
		<param name="sensors/usbl/sync_disp_th" 		value="0.7" />
		<param name="sensors/usbl/odom_queue_len" 		value="1000" />
		<param name="sensors/usbl/percentage_queue_len" value="100" />
		<param name="sensors/usbl/covariance" 			value="4.0" />
		<param name="sensors/usbl/initial_measurements" value="1.0" />
	</node>


	<!-- Robot localization EKF-->
    <rosparam command="load" file="$(find turbot)/config/robot_localization.yaml"/>
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" respawn="true" output="screen" clear_params="true">
	  <remap from="odometry/filtered" to="/ekf_odom/odometry"/>
	  <remap from="/set_pose" to="/ekf_odom/set_pose"/>
	</node>
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_map" respawn="true" output="screen" clear_params="true">
	  <remap from="odometry/filtered" to="/ekf_map/odometry"/>
	  <remap from="/set_pose" to="/ekf_map/set_pose"/>
	</node>

	<!-- Plot Stereo Pipeline 
	<include file="$(find turbot)/launch/modules/stereo_pipeline.launch">
		<arg name="stereo" 				value="/stereo_down"/>
	</include>-->

	<!-- Plot VO 
	<include file="$(find turbot)/launch/modules/visual_odometry.launch">
		<arg name="camera"    			value="/stereo_down"/>
	</include>-->

	<!-- Plot RVIZ-->
	<include file="$(find usbl_position)/launch/plot_rviz.launch">
	</include>

	<!-- ROSBRIDGE -->
  	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  	<node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server"/>
</launch>