<launch>
	<!-- Position 
 	<node pkg="usbl_position" name="usbl_position" type="usbl_position" output="screen"/>-->
 	
 	<!-- Plot 
 	<node pkg="usbl_position" name="plot_position" type="plot_position_node"/>-->
 	
 	<!-- Publisher 
 	<node pkg="usbl_position" name="usbl_publisher" type="usbl_publisher_node"/>-->

 	<!--bagfile, to create the topics -->
  	<param name="use_sim_time" value="true" />
  	<arg name="bagfile" default="/home/eric/bagfiles/usblangles.bag"/>
  	<node pkg="rosbag" type="play" name="rosbag" args="-l --clock $(arg bagfile)"/>

  	<!--rviz 
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find usbl_position)/config/plotting.rviz" />-->
</launch>

